.section-title {
    padding-top: 20px;
    margin-left: 20px;
    font-size: 40px;
}

.content {
    width: 100%;
}

.create-form {
    margin-left: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
    border: 2px solid #6c757d;   
    border-collapse:inherit ;
}

.create-form input{
    margin-left: 10px;
}

.btn-students{
    margin-right: 40px;
}