.students-title {
    padding-top: 20px;
    margin-left: 20px;
    font-size: 40px;
}

.container1 {
    width: 100%;
    min-height: 100dvh;
    
}

.students-table {
    margin-top: 20px;
    background-color: #f8f9fa;
    width: 50%;
    margin-left: 20px;
    width: 80dvw;
    
    border-radius: 20px;
    border: 2px solid #6c757d;   
    border-collapse:inherit ;
}

.students-table th{
    text-align: center;
    background-color: #ced4da;
}

.students-table th,td {
    padding: 8px;
    border: 1px solid #ced4da;
}

.students-table th:first-child {
    border-top-left-radius: 20px;
}

.students-table th:last-child {
    border-top-right-radius: 20px;
}

.students-table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
   
}

.students-table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
   
}

.actions {
    display: flex;
    justify-content: center;
}

.add-student {
    margin-right: 40px;
}