.navigation-section {
    background-color: #dee2e6;
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-bottom: 1px solid #6c757d;

}

.navigation-bar {
    margin-left: 40px;
    list-style: none;
    display: flex;
    
    
}

.navigation-items {
    text-decoration: none;
    font-size: 25px;
    margin: 0 10px;
    font-weight: bold;
    /* color: #0d6efd; */
}